<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
    <body>
        <p style="color: red">Hello, {{username}}</p>
        <p> Su token es: {{token}}. Ingreselo cuando se le solicite</p>
        <p> Ingrese el siguiente link para cambiar su contraseña: <br> <a href="http://localhost:8081/api/session/updatePassword?username={{username}}&token={{token}}">http://localhost:8081/api/session/updatePassword?username={{username}}&token={{token}}</a> </p>
        <br>
        <p></p>
        <p>The team</p>
    </body>
</html>